/*noinspection CssUnknownTarget*/
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap');

body {
    background-color: #1e2527;
    min-height: 100%;
}

p {
    margin-bottom: 0 !important;
}

nav {
    background-color: #181d1f;
}

.mono {
    font-family: 'JetBrains Mono', monospace;
}

.mono-400 {
    font-family: 'JetBrains Mono', monospace;
    font-weight: 400;
}

.mono-700 {
    font-family: 'JetBrains Mono', monospace;
    font-weight: 700;
}

#content-container {
    height: auto;
    scroll-margin-top: 4rem;
    margin-top: 4rem;
}

.mt-3-1rem {
    margin-top: 3.35rem;
}

textarea {
    max-height: 20vh;
}

.line {
    font-size: 0.9rem !important;
}

.cursor-pointer {
    cursor: pointer;
}

.typed-cursor {
    color: white;
    font-size: calc(1.375rem + 1.5vw);
    font-family: 'JetBrains Mono', monospace;
    font-weight: 400;
}

.highlighted {
    /*orange highlight - #e3b341*/
    background-color: #b0b7b9;
    mix-blend-mode: hard-light;
}

.whitespace-pre {
    white-space: pre;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 6px;
    bottom: 6px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}