<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta property="og:title" content="moonlight">
    <meta property="og:description" th:content="${content.size()} + ' lines, ' + ${exceptions.size()} + ' identified exceptions'">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.1.0/styles/default.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.1.0/highlight.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
    <link th:href="@{/css/body.css}" rel="stylesheet"/>
    <script th:src="@{/js/view.js}"></script>
    <title>moonlight</title>
</head>
<body>
<nav class="navbar fixed-top user-select-none">
    <div class="container-fluid justify-content-between">
        <span class="navbar-brand mb-0 h1 mono-700"><a th:href="@{/}" class="text-decoration-none text-white">moonlight</a></span>
        <a class="user-select-none cursor-pointer" onclick="document.getElementById('drop').classList.toggle('d-none')"><i data-feather="menu" style="color: white;"></i></a>
    </div>
</nav>
<div id="content-container" class="container-fluid mb-3">
    <th:block th:each="line, iter : ${content}" th:with="concatString=${iter.index} + ':'">
        <p th:id="'L' + ${iter.index}" class="text-white text-nowrap mono line" th:with="additionalSpaces=${maxlineprefixlength} - ${#strings.length(concatString)}">
            <a th:text="${iter.index} + ':' + ${#strings.repeat(' ', additionalSpaces)}" onclick="pickLine(this.parentNode.id)" class="text-muted whitespace-pre mono text-decoration-none user-select-none"></a>
            <span th:text="${line}" class="whitespace-pre"></span>
        </p>
    </th:block>
    <div id="drop" class="d-flex position-fixed float-right top-0 end-0 shadow rounded-3 d-none">
        <div class="row row-cols-2 m-3 user-select-none" style="margin-right: 1.5rem !important;">
            <!-- remove the style when adding more stuff, it's there because bootstrap cols are retard -->
            <div class="col my-1">
                <i data-feather="terminal" style="color: white;" class="mb-2"></i>
                <p class="mono text-white cursor-pointer" onclick="handleChecker('terminal')">Terminal</p>
            </div>
            <div class="col my-1">
                <i data-feather="hexagon" style="color: white;" class="mb-2"></i>
                <p class="mono text-white cursor-pointer" onclick="handleChecker('highlightjs')">HighlightJS</p>
            </div>
        </div>
    </div>
</div>
<script>
    feather.replace();
</script>
</body>
</html>